<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>where is Morty?</title>
    <link rel="stylesheet" href="../public/css/style.css">
</head>
<body class="flex flex-col h-full">
  <!-- This example requires Tailwind CSS v2.0+ -->
  <br>
<div class="relative bg-white overflow-hidden px-5">
    <div class="max-w-7xl mx-auto">
      <div class="relative z-10 pb-8 bg-white sm:pb-16 md:pb-20 lg:max-w-2xl lg:w-full lg:pb-28 xl:pb-32">
        <img class="h-15 w-auto sm:h-20 " src="../public/logo/logo.jpg">
    </div>
</div>
</div>


  <main class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="sm:text-center lg:text-center">
      <h1 class="text-4xl tracking-tight font-extrabold text-gray-900 sm:text-5xl md:text-6xl">
        <span class="block xl:inline">Characters</span>
      </h1>
      <br>
      <div class="mt-5 sm:mt-8 sm:flex sm:justify-center lg:justify-center">
        <div class="rounded-md shadow">
          <a href="/" class="w-full flex items-center justify-center px-8 py-3 border border-transparent text-base font-medium rounded-md text-white bg-red-600 hover:bg-red-700 md:py-4 md:text-lg md:px-10">
            Back
          </a>
        </div>
      </div> 
    </div>
  </main> 

<!-- item card -->
  <section>
    <% info.forEach(i => { %>
<div class="flex">

 <div class="md:flex shadow-lg  mx-6 md:mx-auto my-40 max-w-lg md:max-w-2xl h-64">
  <img class="h-full w-full md:w-1/3  object-cover rounded-lg rounded-r-none pb-1/2" src="<%= i.image %>" alt="search photo">
  <div class="w-full md:w-2/3 px-4 py-4 bg-white rounded-lg">
     <div class="flex items-center">
        <h2 class="text-xl text-gray-800 font-medium mr-auto"> <%= i.name %></h2>
     </div>

    <ul>
      <li>
        status: <%= i.status %>
      </li>
      <li>
        Specie: <%= i.species%>
      </li>
      <li>
        Type: <%= i.type %>
      </li>
      <li>
        Gender: <%= i.gender%>
      </li>
      <li>
        Origin: <%= i.origin.name%>
      </li>

    </ul>
     <div class="flex items-center justify-end mt-4 top-auto">
        <a href="https://rickandmorty.fandom.com/wiki/"class=" bg-blue-600 text-gray-200 px-2 py-2 rounded-md ">Wiki</a>
     </div>
  </div>
 </div>
</div>
    <%}) %>
   </section>
 
  <script src="../public/javascript/index.js"></script>
</body>
</html>